doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/styles.css")
        title Document
    body 
        div#formulario
            h2 Add a new product
            form(action="/upload", method="POST", enctype="multipart/form-data")
                label Id
                input(type="text", name="id" autocomplete="off")
                label Name
                input(type="text", name="name" autocomplete="off")
                label Price
                input(type="text", name="price" autocomplete="off")
                label Description
                input(type="text", name="description" autocomplete="off")
                label Image
                input#imagen(type="file", name="image")
                input(type="submit", value="Enviar")
            a(href="/products") View products
        div